<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" value="{{student.Name}}">
        <label for="Age">Age</label>
        <input type="number" name="Age" value="{{student.Age}}">
        <label for="RollNo">RollNo</label>
        <input type="number" name="RollNo" value="{{student.RollNo}}">
        <label for="mark1">mark1</label>
        <input type="number" name="mark1" value="{{student['Marks'][0]}}"><br>
        <label for="mark2">mark2</label>
        <input type="number" name="mark2" value="{{student['Marks'][1]}}">
        <label for="mark3">mark3</label>
        <input type="number" name="mark3" value="{{student['Marks'][2]}}">
        <label for="mark4">mark4</label>
        <input type="number" name="mark4" value="{{student['Marks'][3]}}">
        <label for="mark5">mark5</label>
        <input type="number" name="mark5" value="{{student['Marks'][4]}}">

        <input type="submit" value="submit">

    </form>
</body>
</html>